{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% load objfeed_tags %}
{% block full-content %}
   <div class="noprint">

     {% if obj.disputed %}
       <div class="alert alert-danger">
         The delivery of this item has been disputed.
         {% if request.user.id = obj.requestor.id %}
           Our dispute resolution team has been notified and will contact the sender shortly.

           <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
             {% csrf_token %}
             <input type="hidden" name="{{obj.fieldname}}method" value="receive">
             <button type="submit" class="btn btn-success"><i class='glyphicon glyphicon-ok'></i> Mark as received</button>
           </form>
         {% else %}
           {% if request.user.id = obj.thing.holder.id %}
             Our dispute resolution team has been notified and will
             contact you shortly. Please be prepared to to email your
             receipt from the transport company or similar
             documentation to show that you really did send the item.

             <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
               {% csrf_token %}
               <input type="hidden" name="{{obj.fieldname}}method" value="returned_to_sender">
               <button type="submit" class="btn btn-success"><i class='fa fa-reply'></i> Mark as returned to sender</button>
             </form>

             <form enctype="multipart/form-data" action="{{obj.thing.get_absolute_url}}" method='post' role="form">
               {% csrf_token %}
               <input type="hidden" name="{{obj.fieldname}}method" value="lose">
               <button type="submit" class="btn btn-danger"><i class='fa fa-child'></i> I have lost this item</button>
             </form>

           {% endif %}
         {% endif %}

         {% if request.user.is_staff %}
           <a class="btn btn-default" href="{{obj.get_admin_url}}">Admin</a>
         {% endif %}

       </div>

     {% else %}

       {% if obj.show_well %}

         {% if obj.overdue %}
           <div class="alert alert-danger">
             <p>This lending request is overdue. If the request is canceled, the thing will be marked as lost by the current holder.</p>
         {% else %}
           <div class="well">
         {% endif %}

           {% if request.user.is_staff %}
             <a class="btn btn-default" href="{{obj.get_admin_url}}">Admin</a>
           {% endif %}

           {% if request.user.id = obj.requestor.id %}
             {% if obj.sent %}
               <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                 {% csrf_token %}
                 <input type="hidden" name="{{obj.fieldname}}method" value="receive">
                 <button type="submit" class="btn btn-success"><i class='glyphicon glyphicon-ok'></i> Mark as received</button>
               </form>

               {% if not  obj.disputed %}
                 <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                   {% csrf_token %}
                   <input type="hidden" name="{{obj.fieldname}}method" value="dispute">
                   <button type="submit" class="btn btn-danger"><i class='glyphicon glyphicon-thumbs-down'></i> Dispute this delivery</button>
                 </form>
               {% endif %}

             {% else %}

               <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form" class='form-inline'>
                 {% csrf_token %}
                 <input type="hidden" name="{{obj.fieldname}}method" value="set_transport_accepted">
                 Maximum accepted transport cost: <input type="text" name="amount" class="form-control" value="{{obj.transport_accepted}}">
                 <div class="btn-group">
                   <button type="submit" class="btn {% if obj.transport_payed.pending %}btn-default{% else %}btn-success{% endif %}">Set amount</button>
                   <button type="submit" name="set_default" value="true" class="btn {% if obj.transport_payed.pending %}btn-default{% else %}btn-success{% endif %}">Set as default</button>
                 </div>
               </form>

               <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                 {% csrf_token %}
                 <input type="hidden" name="{{obj.fieldname}}method" value="cancel">
                 <button type="submit" class="btn {% if obj.overdue %}btn-danger{% else %}btn-warning{% endif %}"><i class='fa fa-close'></i> Stop waiting and cancel the request</button>
               </form>

             {% endif %}
           {% else %}
             {% if request.user.id = obj.thing.holder.id and not obj.sent %}
               {% if obj.transport_payed.pending %}
                 <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                   {% csrf_token %}
                   <input type="hidden" name="{{obj.fieldname}}method" value="send">
                   <button type="submit" class="btn btn-success"><i class='fa fa-truck'></i> Mark as sent</button>
                 </form>
               {% endif %}

               <form enctype="multipart/form-data" action="{{obj.thing.get_absolute_url}}" method='post' role="form">
                 {% csrf_token %}
                 <input type="hidden" name="{{obj.fieldname}}method" value="lose">
                 <button type="submit" class="btn btn-danger"><i class='fa fa-child'></i> I have lost this item</button>
               </form>

               <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                 {% csrf_token %}
                 <input type="hidden" name="{{obj.fieldname}}method" value="set_transport_requested">
                 Transport cost: <input type="text" name="amount" value="{{obj.transport_payed.amount}}"> (maximum accepted: €{{obj.transport_accepted}})
                 <button type="submit" class="btn {% if obj.transport_payed.pending %}btn-default{% else %}btn-success{% endif %}">Accept amount</button>
               </form>
             {% endif %}
           {% endif %}
         </div>
       {% endif %}

     {% endif %}

     <h1>Lending request for <a href="{{obj.thing.get_absolute_url}}">{{obj.thing.type.name}} by {{obj.thing.type.designer}}</a></h1>

     <p><i class='glyphicon glyphicon-comment'></i>
       {% if obj.requestor.id = request.user.id %}
         You are requesting this thing from <a href="{{obj.thing.holder.profile.get_absolute_url}}">{{obj.thing.holder}}</a>.</p>
       {% else %}
         {% if obj.thing.holder.id = request.user.id %}
           <a href="{{obj.requestor.profile.get_absolute_url}}">{{obj.requestor}}</a> is requesting this thing from you.
         {% else %}
           <a href="{{obj.requestor.profile.get_absolute_url}}">{{obj.requestor}}</a> is requesting this thing from <a href="{{obj.thing.holder.profile.get_absolute_url}}">{{obj.thing.holder}}</a>.
         {% endif %}
       {% endif %}
     </p>

     <p><i class='fa fa-clock-o'></i> Waiting since {{obj.time}}.</p>
     {% if obj.sent %}
       <p><i class='fa fa-truck'></i> It has been sent.</p>
     {% else %}
       <p><i class='fa fa-clock-o'></i> It has not yet been sent.</p>
     {% endif %}
     <p><i class='fa fa-money'></i> Deposit payed: €{{obj.deposit_payed.amount}}.</p>
     {% if not obj.transport_payed.tentative %}
       {% if obj.sent %}
         <p><i class='fa fa-money'></i> Transport payed: €{{obj.transport_payed.amount}}.</p>
       {% else %}
         {% if request.user.id = obj.requestor.id %}
           <p><i class='fa fa-money'></i> Transport requested: €{{obj.transport_payed.amount}}.</p>
         {% endif %}
       {% endif %}
     {% endif %}
     <br>

     {{obj.feed.render_as.inline__html|safe}}

   </div>

   {% if request.user.id = obj.requestor.id or request.user.id = obj.thing.holder.id %}
     <div class="sending-label">
       <div class="meta">
         <div class="row1">
           <div class='qr'>
             {% qr_from_text obj.get_absolute_url %}
           </div>
           <div class="sender">
             <div class="header">From:</div>
             <div class='owner-name'>{{obj.thing.holder.first_name}} {{obj.thing.holder.last_name}}</div>
             <div class='address'>{{obj.thing.holder.profile.location.address|linebreaks}}</div>
             <br>
             <div class='email'>{{obj.thing.holder.email}}</div>
             <div class='owner-url'>{{obj.thing.holder.profile.get_absolute_url}}</div>
           </div>
         </div>
         <div class="content">
           <div class="header">This package contains an item from the CommonLib library:</div>
           <div class="title">{{obj.thing.type.name}} by {{obj.thing.type.designer}}</div>
           <br>
           <div class="url">Inventory page: {{obj.thing.get_absolute_url}}</div>
           <div class="url">Shipment tracking: {{obj.get_absolute_url}}</div>
         </div>
       </div>
       <div class="receiver">
         <div class="header">To:</div>
         <div class='owner-name'>{{obj.requestor.first_name}} {{obj.requestor.last_name}}</div>
         <div class='address'>{{obj.requestor.profile.location.address|linebreaks}}</div>
         <br>
         <div class='email'>{{obj.requestor.email}}</div>
         <div class='owner-url'>{{obj.requestor.profile.get_absolute_url}}</div>
         <img src="{{STATIC_URL}}/appomatic_clib/CommonLib.path.svg" class="logo">
       </div>
     </div>

   {% endif %}
{% endblock %}
