{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        {% if request.user.is_authenticated %}
          {% if request.user.id = obj.holder.id %}
            {% if t.request %}
              {% if not obj.request.sent %}
                <div class="alert alert-warning inline" role="alert">
                  <i class='glyphicon glyphicon-comment'></i> {{obj.request.requestor}} is requesting this thing.
                  <a class="btn btn-success" href="{{obj.request.get_absolute_url}}"><i class='fa fa-truck'></i> Send this thing</a>
                </div>
              {% endif %}
            {% endif %}

          {% else %}

            {% if request.user.id = obj.request.requestor.id %}
              <div class="alert alert-info inline" role="alert">
                <p><a href="{{obj.request.get_absolute_url}}"><i class='glyphicon glyphicon-comment'></i> You are requesting for this thing.</a></p>
                {% if obj.request.sent %}
                  <p><i class='fa fa-truck'></i> It has been sent.</p>
                {% else %}
                  <p><i class='fa fa-clock-o'></i> It has not yet been sent.</p>
                {% endif %}
                {% if obj.request.sent %}
                  <form enctype="multipart/form-data" action="{{obj.request.get_absolute_url}}" method='post' role="form">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="receive">
                    <button type="submit" class="btn btn-success"><i class='glyphicon glyphicon-ok'></i> Mark as received</button>
                  </form>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}

        <h1><a href="{{obj.type.get_absolute_url}}">{{obj.type.name}} by {{obj.type.designer}}</a></h1>

        {% if request.user.id = obj.owner.id %}
          <p><i class='glyphicon glyphicon-heart'></i> You own this thing.</p>
        {% endif %}

        {% if request.user.id = obj.holder.id %}
          <p><i class='glyphicon glyphicon-hand-right'></i> You hold this thing.</p>
          {% if obj.request and obj.request.sent %}
             <p><i class='fa fa-truck'></i> This thing <a href="{{obj.request.get_absolute_url}}">has been sent to {{obj.request.requestor}}</a>.</p>
          {% endif %}
        {% else %}
          {% if request.user.is_authenticated %}
            {% if request.user.id != obj.request.requestor.id %}
              {% if request.user.profile.available_balance >= obj.type.price %}
                <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
                  {% csrf_token %}
                  <input type="hidden" name="method" value="request">
                  <button type="submit" class="btn btn-success"><i class='glyphicon glyphicon-comment'></i> Request this thing</button>
                </form>
              {% else %}
                <p class='text-danger'>You don't have funds enough for the deposit for this thing. Please send back some other things or transfer more funds.</p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}

        <p>{{obj.type.description}}</p>

        <table class="table table-bordered small-table">
          <tr><th>Id:</th><td>{{obj.id}}</td></tr>
          <tr><th>Name:</th><td><a href="{{obj.type.get_absolute_url}}">{{obj.type.name}}</a></td></tr>
          <tr><th>Producer:</th><td>{{obj.type.producer}}</td></tr>
          <tr><th>Designer:</th><td>{{obj.type.designer}}</td></tr>

          {% if request.user.id = obj.owner.id %}
            <tr><th>Requested deposit:</th><td>{{obj.price}}</td></tr>
          {% else %}
            {% if request.user.id = obj.holder.id %}
              <tr><th>Deposit payed:</th><td>{{obj.deposit_payed}}</td></tr>
            {% else %}
              <tr><th>Deposit required:</th><td>{{obj.type.price}}</td></tr>
            {% endif %}
          {% endif %}

          {% if request.user.id = obj.holder.id %}
            <tr><th>Owner:</th><td>{{obj.owner}}</td></tr>
          {% endif %}
          {% if request.user.id = obj.owner.id %}
            <tr><th>Holder</th><td>{{obj.holder}}</td></tr>
          {% endif %}

          {% if request.user.id = obj.holder.id %}
            <tr><th>Requests:</th><td>{{obj.requests.count}}</td></tr>
            {% if request.user.id = obj.holder.id and obj.request %}
              <tr><th>First requestor:</th><td>{{obj.request.requestor.username}}</td></tr>
            {% endif %}
          {% endif %}

          <tr><th>Available (earliest):</td><td>{{obj.lent_until}}</td></tr>
          <tr><th>Distance:</th><td>{{obj.distance}}</td></tr>

          <tr><th>{{obj.type.barcode_type}}</th><td>{{obj.type.barcode_data}}</td></tr>
        </table>
      </div>
      <div class="col-md-6">
        {{obj.render_as.label}}
      </div>
    </div>
  </div>

{% endblock %}
