{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block full-content %}
  <div class='qr-link thing-link'>
    {% qr_from_text obj.get_absolute_url %}
  </div>

  <h1>{{obj.name}} by {{obj.designer}}</h1>
  <p>{{obj.description}}</p>

  <table class="table table-bordered small-table">
    <tr><th>Id:</th><td>{{obj.id}}</td></tr>
    <tr><th>Name:</th><td>{{obj.name}}</td></tr>
    <tr><th>Producer:</th><td>{{obj.producer}}</td></tr>
    <tr><th>Designer:</th><td>{{obj.designer}}</td></tr>
    <tr><th>Deposit required:</th><td>{{obj.price}}</td></tr>
    <tr><th>{{obj.barcode_type}}</th><td>{{obj.barcode_data}}</td></tr>
  </table>


  <div class="panel panel-default">
    <table class="table">
      <tr><th>Thing</th><th>requests</th><th>available (earliest)</th><th>distance</th></tr>
      {% for t in obj.of_this_type.all %}
        <tr>
          <td><a href='{{t.get_absolute_url}}'>{{t.id}}</td>
          <td><a href='{{t.get_absolute_url}}'>{{t.requests.count}}</a></td>
          <td><a href='{{t.get_absolute_url}}'>{{t.lent_until}}</a></td>
          <td><a href='{{t.get_absolute_url}}'>{{t.distance}}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
