{% load endless %}
{% block list %}
  {% if obj.things.count %}
    {% paginate obj.things.all as res %}
    <div class="panel panel-default">
      <table class="table">
        <tr><th>Things tagged with <span class="label label-primary">{{obj.path}}</span></th><th>by</th><th>tags</th></tr>
        {% for t in res %}
          <tr>
            <td><a href='{{t.get_absolute_url}}'>{{t.name}}</td>
            <td><a href='{% url 'appomatic_clib.views.search' %}?query={{t.designer}}'>{{t.designer}}</a></td>
            <td>{{t.render_as.tags|safe}}</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="4">
            {% show_pages %}
          </td>
        </tr>
      </table>
    </div>
  {% else %}
     <div class="alert alert-info" role="alert">
       <p>There are no things tagged with <span class="label label-primary">{{obj.path}}</span>.</p>
     </div>
  {% endif %}
{% endblock %}
