{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block full-content %}
   <div class="noprint">
     <h1>Lending request for <a href="{{obj.thing.get_absolute_url}}">{{obj.thing.type.name}} by {{obj.thing.type.designer}}</a></h1>

     <p><i class='glyphicon glyphicon-comment'></i> <a href="{{obj.requestor.profile.get_absolute_url}}">{{obj.requestor}}</a> is requesting this thing from <a href="{{obj.thing.holder.profile.get_absolute_url}}">{{obj.thing.holder}}</a>.</p>
     <p><i class='fa fa-clock-o'></i> Waiting since {{obj.time}}.</p>
     {% if obj.sent %}
       <p><i class='fa fa-truck'></i> It has been sent.</p>
     {% else %}
       <p><i class='fa fa-clock-o'></i> It has not yet been sent.</p>
     {% endif %}
     <p>Deposit payed: €{{obj.deposit_payed.amount}}.</p>
     {% if obj.sent %}
       <p>Transport payed: €{{obj.transport_payed.amount}}.</p>
     {% endif %}

     {% if request.user.id = obj.requestor.id %}
       {% if obj.sent %}
         <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="receive">
           <button type="submit" class="btn btn-success"><i class='glyphicon glyphicon-ok'></i> Mark as received</button>
         </form>
       {% else %}
         <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="cancel">
           <button type="submit" class="btn btn-warning"><i class='fa fa-close'></i> Stop waiting and cancel the request</button>
         </form>

         <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="set_transport_accepted">
           Maximum accepted transport cost: <input type="text" name="amount" value="{{obj.transport_accepted}}">
           <button type="submit" class="btn btn-default">Set amount</button>
         </form>

       {% endif %}
     {% else %}
       {% if request.user.id = obj.thing.holder.id and not obj.sent %}
         <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="send">
           <button type="submit" class="btn btn-success"><i class='fa fa-truck'></i> Mark as sent</button>
         </form>

         <form enctype="multipart/form-data" action="{{obj.thing.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="lose">
           <button type="submit" class="btn btn-danger"><i class='fa fa-child'></i> I have lost this item</button>
         </form>

         <form enctype="multipart/form-data" action="{{obj.get_absolute_url}}" method='post' role="form">
           {% csrf_token %}
           <input type="hidden" name="method" value="set_transport_requested">
           Transport cost: <input type="text" name="amount" value="{{obj.transport_payed.amount}}"> (maximum accepted: €{{obj.transport_accepted}})
           <button type="submit" class="btn btn-default">Accept amount</button>
         </form>
       {% endif %}
     {% endif %}

     <br>
   </div>

   {{obj.render_as.conversation__html}}

   {% if request.user.id = obj.requestor.id %}
     <div class="sending-label">
       <div class="meta">
         <div class="row1">
           <div class='qr'>
             {% qr_from_text obj.get_absolute_url %}
           </div>
           <div class="sender">
             <div class="header">From:</div>
             <div class='owner-name'>{{obj.thing.holder.first_name}} {{obj.thing.holder.last_name}}</div>
             <div class='address'>{{obj.thing.holder.profile.location.address|linebreaks}}</div>
             <br>
             <div class='email'>{{obj.thing.holder.email}}</div>
             <div class='owner-url'>{{obj.thing.holder.profile.get_absolute_url}}</div>
           </div>
         </div>
         <div class="content">
           <div class="header">This package contains an item from the CommonLib library:</div>
           <div class="title">{{obj.thing.type.name}} by {{obj.thing.type.designer}}</div>
           <br>
           <div class="url">Inventory page: {{obj.thing.get_absolute_url}}</div>
           <div class="url">Shipment tracking: {{obj.get_absolute_url}}</div>
         </div>
       </div>
       <div class="receiver">
         <div class="header">To:</div>
         <div class='owner-name'>{{obj.requestor.first_name}} {{obj.requestor.last_name}}</div>
         <div class='address'>{{obj.requestor.profile.location.address|linebreaks}}</div>
         <br>
         <div class='email'>{{obj.requestor.email}}</div>
         <div class='owner-url'>{{obj.requestor.profile.get_absolute_url}}</div>
       </div>
     </div>

   {% endif %}
{% endblock %}
