{% extends "appomatic_clib/base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Add things</h1>
        <p>Use the forms below to add things to your library.</p>

        <h2><i class='fa fa-barcode'></i> By barcode number</h1>
        <p>Enter the number below the barcode (ISBN, part number,
        etc). You can add multiple things at once by separating their
        numbers by spaces.</p>

        <form method='POST' action="{% url 'appomatic_clib.views.add' %}" class="form" role="form">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" name="type" value="EAN_13">
            <textarea name='codes' type="text" placeholder="Enter barcode numbers here..." class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>


        <h2><i class='fa fa-search-plus'></i> Search existing title</h2>
        <p>Search for an existing title, then click "Add a thing of this type" to add your item.</p>

        <form action="{% url 'appomatic_clib.views.search.search' %}" class="form-inline" role="form">
          <div class="input-group">
            <input type="text" name="query" placeholder="Search" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit"><i class='glyphicon glyphicon-search'></i> Search</button>
            </span>
          </div>
        </form>

        <h2><i class='fa fa-plus'></i> Add new title</h2>
        <p>If you can't find the title, and the title doesn't have a barcode or part number you can still add it and provide a title, author etc. manually</p>

        <form method='POST' action="{% url 'appomatic_clib.views.add' %}" class="form-inline" role="form">
          {% csrf_token %}
          <div class="form-group">
            <input type="hidden" name="type" value="none">
          </div>
          <div class="input-group">
            <input type="text" name="name" placeholder="Title" class="form-control">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success"><i class='fa fa-plus'></i> Add</button>
            </span>
          </div>
        </form>

      </div>
      <div class="col-md-4">
        <div class="well clearfix">
          <h1>Scan using a phone</h1>
          <p>Tip: If you have an android phone you can add things by
          scanning their barcodes with
          our app.</p>

          <p>To install the app, go
          to <a href='https://play.google.com/store/apps/details?id=se.puggan.gscantool'>https://play.google.com/store/apps/details?id=se.puggan.gscantool</a>
          on your Android phone.</p>

          <p>Scan this QR-code with the app to log in and then scan all your things:</p>

          <div class='qr-link start-scan-link'>
            <img src="{% url 'appomatic_clib.views.render_qr' %}?url={{start_url|iriencode}}">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
