{% extends 'userena/profile_base.html' %}
{% load url from future %}
{% load qr_tags %}
{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Funds" %}{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" action='{% url 'appomatic_clib.views_funds.funds' %}' method='post' role="form">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{form.non_field_errors}}
          {{form.profile.non_field_errors}}
          {{form.location.non_field_errors}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{form.amount.errors }}
            {{form.amount.label_tag}}
            {{form.amount|formControl}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{form.service.errors }}
            {{form.service.label_tag}}
            {{form.service|formControl}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input name='do_withdraw' type='submit' value='Withdraw funds' class='btn btn-success' />
          <input name='do_add' type='submit' value='Add funds' class='btn btn-success' />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Balance overview</h1>
          {% include "appomatic_clib/funds_overview.html" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Transaction history</h1>
          {% if request.user.profile.transaction_history.count %}
            <div class="panel panel-default">
              <table class="table">
                <tr><th>Time</th><th>Credit</th><th>Debit</th><th>From</th><th>To</th><th>Status</th></tr>
                {% for t in request.user.profile.transaction_history.all %}
                  <tr>
                    <td>{{t.time}}</td>
                    <td class='text-success'>{% if t.dst = request.user %}{{t.amount}}{% endif %}</td>
                    <td class='text-danger'>{% if t.src = request.user %}{{t.amount}}{% endif %}</td>
                    <td>{% if t.src != request.user %}{{t.source}}{% endif %}</td>
                    <td>{% if t.dst != request.user %}{{t.destination}}{% endif %}</td>
                    <td>
                      {% if t.pending %}PENDING{% endif %}
                      {% if t.tentative %}TENTATIVE{% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% else %}
             <div class="alert alert-info" role="alert">
               <p>Your transaction history empty.</p>
             </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>


{% endblock %}
