{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block content %}
  {% if request.user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% if not request.user.profile.location.position or not request.user.owns.count or request.user.needs_labels.count or request.user.profile.available_balance <= 0.0 or not request.user.profile.has_borrowed.count %}
            <div class="well">
              <h1>Things do do to get you started:</h1>

              {% if not request.user.profile.location.position %}
                <h4>You need to <a href="{% url 'userena_profile_edit' request.user.username %}">set your location</a>.</h4>
                <p>Your location is used when others are to send you things, and to sort lists of things by distance. <em>Your position is never shown directly to users except when they need to send you a thing./em></p>
              {% endif %}

              {% if not request.user.owns.count %}
                <h4>Your library is empty.</h4>
                <p><a href="{% url 'appomatic_clib.views.add' %}">Add some things to your library</a> to get started lending.</p>
              {% endif %}

              {% if request.user.needs_labels.count %}
                <h4>You have new things that need labels.</h4>
                <p><a href="{% url 'appomatic_clib.views.labels' %}" class="btn btn-default">Print labels</a></p>
              {% endif %}

              {% if request.user.profile.available_balance <= 0.0 %}
                <h4>You don't have any funds available.</h4>
                <p><a href="{% url 'appomatic_clib.views_funds.funds' %}">Add some funds</a> or lend some things to be able to start borrowing things.</p>
              {% else %}
                {% if not request.user.profile.has_borrowed.count %}
                  <h4>You haven't borrowed anything.</h4>
                  <p>Maybe you'd like to search for things to borrow:
                    <form action="{% url 'appomatic_clib.views.search' %}" class="form form-inline" role="form">
                      <div class="input-group">
                        <input type="text" name="query" placeholder="Search" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class='glyphicon glyphicon-search'></i>&nbsp;</button>
                        </span>
                      </div>
                    </form>
                  </p>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}

          {% if request.user.requests.count %}
            <div class="panel panel-default">
              <table class="table">
                <tr><th>Please send</th><th>to user</th></tr>
                {% for t in request.user.requests.all %}
                  <tr>
                    <td>
                      <a href='{{t.request.get_absolute_url}}'>
                        {{t.type.name}} by {{t.type.designer}}
                      </a>
                    </td>
                    <td>{{t.request.requestor}}</td>
                  </td></tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}

          {% if request.user.requesting.count %}
            <div class="panel panel-default">
              <table class="table">
                <tr><th>Waiting for</th><th>since</th><th>sent</th></tr>
                {% for r in request.user.requesting.all %}
                  <tr>
                    <td>
                      <a href='{{r.get_absolute_url}}'>
                        {{r.thing.type.name}} by {{r.thing.type.designer}}
                      </a>
                    </td>
                    <td>
                      {{r.time}}
                    </td>
                    <td>
                      {% if r.sent %}<i class='glyphicon glyphicon-ok'></i> yes{% endif %}
                    </td>
                  </li>
                {% endfor %}
              </table>
            </div>
          {% endif %}
        </div>
        <div class="col-md-4">
          {% if request.user.is_authenticated %}
            <div class='qr-link start-scan-link'>
              {% qr_from_text start_url %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  {% else %}

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to CommonLib</h1>
        <p>CommonLib is a virtual online library that lets you lend your books securely and borrow easily from others.</p>
        <p>To get going, either <a href="{% url 'userena_signup' %}" class='btn btn-success'>sign up</a> or log in</p>

        <form method='POST' action="{% url 'userena_signin' %}" class="form form-inline" role="form">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'appomatic_clib.views.index' %}" />
          <div class="form-group">
            <input name='identification' type="text" placeholder="Username" class="form-control">
          </div>
          <div class="form-group">
            <input name='password' type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
          <a href="{% url 'userena_password_reset' %}">Forgot your password?</a>
        </form>

        <p>...or search among the available titles:</p>

        <form action="{% url 'appomatic_clib.views.search' %}" class="form form-inline" role="form">
          <div class="input-group">
            <input type="text" name="query" placeholder="Search" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class='glyphicon glyphicon-search'></i>&nbsp;</button>
            </span>
          </div>
        </form>
      </div>
    </div>

  {% endif %}
{% endblock %}
