{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <br>
        <form class="form form-inline" role="form">
          <button name='done' value='true' class="btn btn-default" type="submit">Mark as done</button>
        </form>

        {% for t in request.user.needs_labels.all %}
          <div class='thing-label'>
            {% qr_from_text t.get_absolute_url %}
            <div class='text'>
              <div class='name'>{{t.type.name}}</div>
              <div class='url'>{{t.get_absolute_url}}</div>
              <div class='owner'>Owner: {{t.owner}}</div>
              <div class='owner-url'>{{t.owner.get_absolute_url}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
