{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block full-content %}
   <h1 class="noprint"><a href="{{lr.thing.get_absolute_url}}">{{lr.thing.type.name}} by {{lr.thing.type.designer}}</a></h1>
 
   {% if request.user.id = lr.requestor.id %}
     {% if lr.sent %}
       It has been sent.
       <a class="btn btn-success" href="{% url 'appomatic_clib.views.thing_receive' id=lr.thing.id %}"><i class='glyphicon glyphicon-ok'></i> Mark as received</a>
     {% else %}
       It has not yet been sent.
     {% endif %}
   {% else %}
     <div class="noprint">
       <i class='glyphicon glyphicon-comment'></i> <a href="{{lr.requestor.profile.get_absolute_url}}">{{lr.requestor}}</a> is requesting this thing.

       {% if request.user.id = lr.thing.holder.id %}
         <a class="btn btn-success" href="{% url 'appomatic_clib.views.thing_send' id=lr.thing.id %}">Mark as sent</a>
       {% else %}
       {% endif %}

       <br class="clearfix">
     </div>

     <div class="sending-label">
       <div class="meta">
         <div class="row1">
           <div class='qr'>
             {% qr_from_text lr.get_absolute_url %}
           </div>
           <div class="sender">
             <div class="header">From:</div>
             <div class='owner-name'>{{lr.thing.holder.first_name}} {{lr.thing.holder.last_name}}</div>
             <div class='address'>{{lr.thing.holder.profile.location.address|linebreaks}}</div>
             <br>
             <div class='email'>{{lr.thing.holder.email}}</div>
             <div class='owner-url'>{{lr.thing.holder.profile.get_absolute_url}}</div>
           </div>
         </div>
         <div class="content">
           <div class="header">This package contains an item from the CommonLib library:</div>
           <div class="title">{{lr.thing.type.name}} by {{lr.thing.type.designer}}</div>
           <br>
           <div class="url">Inventory page: {{lr.thing.get_absolute_url}}</div>
           <div class="url">Shipment tracking: {{lr.get_absolute_url}}</div>
         </div>
       </div>
       <div class="receiver">
         <div class="header">To:</div>
         <div class='owner-name'>{{lr.requestor.first_name}} {{lr.requestor.last_name}}</div>
         <div class='address'>{{lr.requestor.profile.location.address|linebreaks}}</div>
         <br>
         <div class='email'>{{lr.requestor.email}}</div>
         <div class='owner-url'>{{lr.requestor.profile.get_absolute_url}}</div>
       </div>
     </div>

   {% endif %}
{% endblock %}
