{% extends "appomatic_clib/base.html" %}
{% load endless %}

{% block full-content %}
  <form class="form" role="form">
    <input type="hidden" name="sort" value="{{query.sort}}">

    {% if info_objects %}
      <div class="clearfix">
        {% for info in info_objects %}
          {{info.render_as.label|safe}}
        {% endfor %}
      </div>
    {% endif %}

    <p>
      <a href="javascript: void(0);" data-toggle="collapse" data-target="#query" aria-expanded="true" aria-controls="query">
       Update search query
      </a>

      <div id="query" class="collapse">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="text">Text search:</label>
                <input type="text" class="form-control" name="text" placeholder="Enter text to search for" value="{{query.text}}">
              </div>

              <div class="form-group">
                <label for="tags">Tags:</label>
                <select class="form-control" multiple="multiple" name="tags">
                  {% for t in tags %}
                    <option value="{{t.path}}" {% if t.name in query.tags %}selected='selected'{% endif %}>{{t.path}}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="submit" class="btn btn-success">Update search</button>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </div>
    </p>

    {% if results.count %}
      {% paginate results as res %}
      <div class="panel panel-default">
        <table class="table">
          <tr>
            <th colspan="2"><a href="{{query_string}}&update-sort=name">{{sort_icons.name|safe}} Things: {{results.count}}</a></th>
            <th><a href="{{query_string}}&update-sort=designer">{{sort_icons.designer|safe}} by</a></th>
            <th>tags</th>
            <th><a href="{{query_string}}&update-sort=count">{{sort_icons.count|safe}} count</a></th>
          </tr>
          {% for t in res %}
            <tr>
              <td><a href='{{t.get_absolute_url}}'>{{t.barcode_type}}:{{t.barcode_data}}</td>
              <td><a href='{{t.get_absolute_url}}'>{{t.name}}</td>
              <td><a href="{{query_string}}&update-text={{t.designer}}">{{t.designer}}</a></td>
              <td>
                {% for tag in t.tags.all %}
                  <a href="{{query_string}}&update-tags={{tag.path}}" class="label label-primary">{{tag.path}}</a>
                {% endfor %}
              </td>
              <td>{{t.count}}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="8">
              {% show_pages %}
            </td>
          </tr>
        </table>
      </div>
    {% else %}
       <div class="alert alert-info" role="alert">
         <p>No things matches your query.</p>
       </div>
    {% endif %}
  </form>
{% endblock %}
