{% load qr_tags %}
<div class='thing-label'>
  <div class="header">
    {% if request.user.id = t.owner.id or request.user.id = t.holder.id %}
      <span class="owner">{{t.owner.first_name}} {{t.owner.last_name}}</span>
    {% endif %}
    <span class="title">{{t.type.name}}</span>
  </div>
  <div class="body">
    <div class='qr'>
      {% qr_from_text t.get_absolute_url %}
    </div>
    <div class='text'>
      {% if request.user.id = t.owner.id or request.user.id = t.holder.id %}
        <div class='owner'>
          <div class='email'>{{t.owner.email}}</div>
          <div class='owner-url'>{{t.owner.profile.get_absolute_url}}</div>
          <br>
          <div class='owner-name'>{{t.owner.first_name}} {{t.owner.last_name}}</div>
          <div class='address'>{{t.owner.profile.location.address|linebreaks}}</div>
        </div>
      {% endif %}
      <div class='about'>
        This thing is part of the CommonLib library.
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="{{t.get_absolute_url}}">{{t.get_absolute_url}}</a>
  </div>
</div>
