{% extends "appomatic_clib/base.html" %}
{% load qr_tags %}
{% block full-content %}
  <div class='qr-link thing-link'>
    {% qr_from_text tt.get_absolute_url %}
  </div>

  <h1>{{tt.name}} by {{tt.designer}}</h1>
  <p>{{tt.description}}</p>

  <table class="table table-bordered small-table">
    <tr><th>Id:</th><td>{{tt.id}}</td></tr>
    <tr><th>Name:</th><td>{{tt.name}}</td></tr>
    <tr><th>Producer:</th><td>{{tt.producer}}</td></tr>
    <tr><th>Designer:</th><td>{{tt.designer}}</td></tr>
    <tr><th>{{tt.barcode_type}}</th><td>{{tt.barcode_data}}</td></tr>
  </table>

  <h2>Things</h2>
  <ul>
    {% for t in tt.of_this_type.all %}
      <li><a href='{{t.get_absolute_url}}'>{{t}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
