Django==1.6.5
Pillow==10.0.1
appomatic==0.0.30
appomatic-admin==0.0.30
appomatic-appadmin==0.0.30
appomatic-autocomplete==0.0.30
appomatic-ckeditor==0.0.30
appomatic-renderable==0.0.5
appomaticcore==0.0.30
django-autocomplete-foreignkey==0.0.1
django-ckeditor==4.0.2
django-endless-pagination==2.0
django-guardian==1.2.4
django-mptt==0.6.1
django-qrcode==0.3
django-userena==1.3.0
easy-thumbnails==2.1
fcdjangoutils==0.0.8
html2text==2014.7.3
paypalrestsdk==1.3.0
psycopg2==2.5.3
python-dateutil==2.2
requests==2.3.0
six==1.7.3
