.rounded-corners(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  border-radius: @radius;
}

body {
  padding-top: 70px;
}

.qr-link {
  float: right;
  border: 4pt solid black;
  margin: 15pt;
}

.table.small-table {
  width: auto;
}

.thing-label {
  border: 4pt solid black;
  .rounded-corners(10pt);
  margin: 10pt;
  float: left;

  a, a:hover, a:visited {
    color: inherit;
  }

  .header, .footer {
    background: #000000;
    color: #ffffff;
    padding: 4pt;
  }
  .header {
    font-size: 14pt;
    .owner {
      float: right;
    }
  }
  .footer {
    font-size: 10pt;
  }
  .body {
    background: #ffffff;
    color: #000000;
    display: table;
    vertical-align: top;
    img {
      display: table-cell;
    }
    .text {
      display: table-cell;
      vertical-align: top;
      padding-top: 16pt;
      padding-right: 16pt;
      padding-bottom: 16pt;
      .name {
      }
      .owner {
        margin-top: 5pt;
      }
      .about {
        margin-top: 5pt;
      }
    }
  }
}
.inline {
  display: inline-block;
}