.rounded-corners(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  border-radius: @radius;
}

body {
  padding-top: 70px;
}

body, span, div, table, tr, tbody, tfoot, td, hr { 
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.inline {
  display: inline-block;
}

.qr-link {
  float: right;
  border: 4pt solid black;
  margin: 15pt;
}

.table.small-table {
  width: auto;
}

.thing-label {
  float: left;
  font-size: 12pt;

  .frame {
    margin: 0.83em;

    page-break-inside: avoid;
    border: 0.33em solid black;
    .rounded-corners(1em);
    background: #000000 !important;
    width: 33em;

    a, a:hover, a:visited {
      color: inherit !important;
    }

    .header, .footer {
      color: #ffffff !important;
      padding: 0.33em;
    }
    .header {
      font-size: 1.16em;
      .title {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        color: #ffffff !important;
        background: #000000 !important;

      }
      .owner {
        float: right;
        color: #ffffff !important;
        background: #000000 !important;
        padding-left: 0.83em;
      }
    }
    .footer {
      font-size: 0.83em;
    }
    .body {
      background: #ffffff !important;
      color: #000000;
      display: table;
      vertical-align: top;
      width: 100%;
      overflow: hidden;
      .qr {
        display: table-cell;
        width: 0;
        img {
          width: 15em;
          height: auto;
          margin: -20px;
        }
      }
      .text {
        display: table-cell;
        vertical-align: top;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        .name {
        }
        .owner {
          margin-top: 0.42em;
          .owner-name, .address {
            margin-right: 10em - 2em;
          }
          p {
            margin-bottom: 0;
          }
        }
        .logo {
          width: 10em;
          height: auto;
          float: right;
          margin-bottom: -2em;
          margin-right: -2em;
        }
      }
    }
  }
}

.sending-label {
  font-size: 11pt;
  margin: 1em;
  float: left;
  display: table;

  .row1 {
    width: 100%;
  }

  .meta, .receiver, {
    display: table-cell;
    vertical-align: top;
  }

  .meta, .receiver {
    padding: 1em;
  }

  .receiver {
    border-left: 0.2em solid black;
    .logo {
      width: 100%;
      margin-top: 1em;
      margin-left: -1em;
      margin-right: auto;
      border-top: 0.2em solid black;
    }
  }

  .sender {
    background: url('slash.svg') !important;
    display: inline-block;
    vertical-align: top;
  }

  .header {
    font-weight: bold;
  }

  .qr {
    display: inline-block;
    vertical-align: top;
    img {
      margin: -24px;
    }
    padding-right: 1em;
  }

  .content {
    padding-top: 1em;
  }
}

.feed_entry .feed_entry {
  margin-left: 2em;
}

.feed_entry .avatar {
  float: left;
  margin-right: 10pt;
}

.feed_entry textarea {
  display: block;
}

@page {
  margin: 0cm 0cm 0cm 0cm;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .noprint {
    display: none;
  }

  body.labels,
  body.labels .container,
  body.labels .container .row,
  body.labels .container .row .col-md-12 {
    margin: 0;
    padding: 0;
  }
  body.labels .container {
    margin-left: 7.21mm;
    margin-right: 7.21mm;
    margin-top: 15.15mm;
    margin-bottom: 15.15mm;
    width: 100%;
  }

  .thing-label {
    font-size: 5.3pt;
    width: 63.5mm;
    height: 38.1mm;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2.54mm;

    .frame {
      margin: 0;
      .body {
        .qr {
          img {
            margin: 0;
          }
        }
      }
    }
  }

  .sending-label {
    font-size: 9pt;
  }

}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}
