.rounded-corners(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  border-radius: @radius;
}

body {
  padding-top: 70px;
}

body, span, div, table, tr, tbody, tfoot, td, hr { 
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.inline {
  display: inline-block;
}

.qr-link {
  float: right;
  border: 4pt solid black;
  margin: 15pt;
}

.table.small-table {
  width: auto;
}

.thing-label {
  page-break-inside: avoid;
  border: 4pt solid black;
  .rounded-corners(10pt);
  margin: 10pt;
  float: left;
  background: #000000 !important;
  font-size: 12pt;
  width: 400pt;

  a, a:hover, a:visited {
    color: inherit !important;
  }

  .header, .footer {
    color: #ffffff !important;
    padding: 4pt;
  }
  .header {
    font-size: 14pt;
    .title {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      color: #ffffff !important;
      background: #000000 !important;

    }
    .owner {
      float: right;
      color: #ffffff !important;
      background: #000000 !important;
      padding-left: 10pt;
    }
  }
  .footer {
    font-size: 10pt;
  }
  .body {
    background: #ffffff !important;
    color: #000000;
    display: table;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    .qr {
      display: table-cell;
      width: 0;
      img {
        width: 180pt;
        height: auto;
      }
    }
    .text {
      display: table-cell;
      vertical-align: top;
      padding-top: 16pt;
      padding-right: 16pt;
      padding-bottom: 16pt;
      .name {
      }
      .owner {
        margin-top: 5pt;
      }
      .about {
        margin-top: 5pt;
      }
    }
  }
}

.sending-label {
  float: left;
  display: table;
  font-size: 11pt;
  margin: 1em;

  .row1 {
    width: 100%;
  }

  .meta, .receiver, {
    display: table-cell;
    vertical-align: top;
  }

  .meta, .receiver {
    padding: 1em;
  }

  .receiver {
    border-left: 0.2em solid black;
  }

  .sender {
    background: url('slash.svg') !important;
    display: inline-block;
    vertical-align: top;
  }

  .header {
    font-weight: bold;
  }

  .qr {
    display: inline-block;
    vertical-align: top;
    img {
      margin: -24px;
    }
    padding-right: 1em;
  }

  .content {
    padding-top: 1em;
  }
}

@page {
  margin: 0cm 0cm 0cm 0cm;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .noprint {
    display: none;
  }

  body.labels,
  body.labels .container,
  body.labels .container .row,
  body.labels .container .row .col-md-12 {
    margin: 0;
    padding: 0;
  }
  body.labels .container {
    width: 100%;
  }

  .thing-label {
    width: 268pt;
    border: 2pt solid black;
    .rounded-corners(5pt);
    margin: 5pt;
    font-size: 7pt;

    .header, .footer {
      padding: 2pt;
    }
    .header {
      font-size: 12pt;
    }
    .footer {
      font-size: 8pt;
    }
    .body {
      .qr {
        img {
          width: 100pt;
        }
      }
      .text {
        padding-top: 8pt;
        padding-right: 8pt;
        padding-bottom: 8pt;
        .owner {
          margin-top: 2.5pt;
        }
        .about {
          margin-top: 2.5pt;
        }
      }
    }
  }

  .sending-label {
    font-size: 9pt;
  }

}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}
